body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
}

header {
  background-color: #f4f4f4;
  padding: 1rem;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #007bff;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 840px;
  margin: 0 auto;
  padding: 1rem;
}

main img {
  width: 150px;
  height: auto;
  display: block;
  margin: 1rem 0;
}

p {
  padding: 0;
  margin: 1rem 0;
}

aside {
  width: 20rem;
  margin: 1rem auto;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
  margin: 0.5rem 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
  padding: 1rem;
}